<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sitemap.css">
    <title>Sitemap</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Tornado</li>
                <li>Login</li>
                <li>Sign-up</li>
                <li><a href="/index">Home</a></li>
                <li> <a href="/api">Stock Fundamentals</a></li>
                <li> <a href="/news">Stock News</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="sitemap">
            <div class="section">Stock Dashboard</div>
            <div class="page"><a href="/index">Home</a></div>
            <div class="page">Portfolio</div>


            <div class="section"></div>

            <div class="page"> <a href="/news">Stock News</a></div>


            <div class="section"><a href="/api">Stock Fundamentals</a></div>

            <div class="page">Company Charts</div>
            <div class="page">Financials</div>
            <div class="page">Income Statements</div>
        </div>
    </div>
</body>

</html>